hr {
    display: block;
    unicode-bidi: isolate;
    -webkit-margin-before: 0.5em;
    -webkit-margin-after: 0.5em;
    -webkit-margin-start: auto;
    -webkit-margin-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}

.swal2-popup .swal2-title {
    color: #595959 !important;
    font-size: 27px;
    text-align: center;
    font-weight: 600;
    text-transform: none;
    position: relative;
    margin: 0;
    padding: 0;
    display: block;
    word-wrap: break-word;
}

.swal2-p {
    margin-top: -20px;
    color: #464141 !important;
}

#swal2-content {
    color: #464141 !important;
}

.swal2-popup .swal2-actions {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 15px;
    background: #c7c6ca;
    padding: 5px;
}

.swal2-popup .swal2-validationerror {
    background-color: #f0f0f0;
    margin: 0 -20px;
    overflow: hidden;
    padding: 10px;
    color: gray !important;
    font-size: 16px;
    font-weight: 300;
    display: none;
}

.swal2-modal {
    width: 500px;
    padding: 0px !important;
    background: rgb(255, 255, 255);
    display: flex;
}

.swal2-popup .swal2-styled {
    border: 0;
    border-radius: 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #fff !important;
    cursor: pointer;
    font-size: 17px;
    font-weight: 500;
    margin: 0px 5px 0;
    padding: 10px 32px;
}

.swal2-popup .swal2-input {
    height: 43px;
    padding: 0 12px;
    margin: 10px;
    width: 96%;
    color: gray !important;
}

.swal2-icon.swal2-question {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #87adbd !important;
    border-color: #c9dae1 !important;
    font-size: 60px;
    line-height: 80px;
    text-align: center;
}

.swal2-icon.swal2-warning {
    color: #f8bb86 !important;
    border-color: #facea8 !important;

}

.swal2-popup .swal2-title {
    color: #595959 !important;
}

.swal2-popup .swal2-content {
    color: #545454 !important;
}

.swal2-popup .swal2-input::-webkit-input-placeholder,
.swal2-popup .swal2-file::-webkit-input-placeholder,
.swal2-popup .swal2-textarea::-webkit-input-placeholder {
    color: #cccccc !important;
}

.swal2-popup .swal2-input::-webkit-input-placeholder,
.swal2-popup .swal2-file::-webkit-input-placeholder,
.swal2-popup .swal2-textarea::-webkit-input-placeholder {
    color: #cccccc !important;
}

.swal2-popup .swal2-input:-ms-input-placeholder,
.swal2-popup .swal2-file:-ms-input-placeholder,
.swal2-popup .swal2-textarea:-ms-input-placeholder {
    color: #cccccc !important;
}

.swal2-popup .swal2-input::-ms-input-placeholder,
.swal2-popup .swal2-file::-ms-input-placeholder,
.swal2-popup .swal2-textarea::-ms-input-placeholder {
    color: #cccccc !important;
}

.swal2-popup .swal2-input::placeholder,
.swal2-popup .swal2-file::placeholder,
.swal2-popup .swal2-textarea::placeholder {
    color: #cccccc !important;
}

.swal2-popup .swal2-select {
    color: #545454 !important;
}
.swal2-icon.swal2-info {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #3fc3ee !important;
    border-color: #9de0f6 !important;
    font-size: 60px;
    line-height: 80px;
    text-align: center;
}
