    @import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

    html body {
        -moz-user-select: none;
        -webkit-user-select: none;
        user-select: none;
        background: #ffffff url("../img/bg.png") repeat;
        color: #636b6f;
        margin: 0;
        overflow: hidden;
        padding-right: 0 !important;
    }

    html body .full-height {
        height: 100vh;
    }

    html body .flex-center {
        align-items: center;
        display: flex;
        justify-content: center;
    }

    html body .position-ref {
        position: relative;
    }

    html body .top-right {
        position: absolute;
        right: 10px;
        top: 18px;
    }

    html body .content {
        text-align: center;
        padding: 0 !important;
    }

    html body .title {
        font-size: 21px;
    }

    html body .links a {
        color: #636b6f;
        padding: 0 25px;
        font-size: 12px;
        font-weight: 600;
        letter-spacing: .1rem;
        text-decoration: none;
        text-transform: uppercase;
    }

    html body .m-b-md {
        margin-bottom: 10%;
    }

    html body .btn {
        padding: 6px 12px;
        margin: 0;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        border: 1px solid transparent;
        border-radius: 4px;
        background-color: #27ae60;
        color: #ffffff;
        text-decoration: none;
    }

    .navbar {
        color: #28878F !important;
        position: relative !important;
        min-height: 55px !important;
        margin-bottom: 10px !important;
        border-bottom: 1px solid rgba(59, 140, 147, 0.37) !important;
    }

    .navbar-nav {
        color: #28878F;
        margin: 0 25px;
    }

    .navbar, .dropdown-menu {
        background: #ffffff;
        border: none;
        font-size: 1.15em;
        font-weight: bold;

    }

    .menu {
        width: 400px;
        background: #ffffff;
        margin: 10px 0;
        padding: 10px 0 2px 0;
    }

    .menu a {
        font-size: 12px;
        color: #c3c3c3;
    }

    .menu > a > .active {
        color: red;
    }

    .menu img {
        width: 35px;
    }

    .nav > li > a, .dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover, .dropdown-menu > li > a, .dropdown-menu > li {
        border-bottom: 3px solid transparent;
    }

    .nav > li > a:focus, .nav > li > a:hover, .nav .open > a, .nav .open > a:focus, .nav .open > a:hover, .dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
        border-bottom: 3px solid transparent;
        color: #28878F;
    }

    .navbar a, .dropdown-menu > li > a, .dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover, .navbar-toggle {
        color: #28878F;
    }

    .dropdown-menu {
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .nav li:hover:nth-child(8n+1), .nav li.active:nth-child(8n+1) {
        border-bottom: #28878F 3px solid;
    }

    .nav li:hover:nth-child(8n+2), .nav li.active:nth-child(8n+2) {
        border-bottom: #28878F 3px solid;
    }

    .nav li:hover:nth-child(8n+3), .nav li.active:nth-child(8n+3) {
        border-bottom: #28878F 3px solid;
    }

    .nav li:hover:nth-child(8n+4), .nav li.active:nth-child(8n+4) {
        border-bottom: #28878F 3px solid;
    }

    .nav li:hover:nth-child(8n+5), .nav li.active:nth-child(8n+5) {
        border-bottom: #28878F 3px solid;
    }

    .nav li:hover:nth-child(8n+6), .nav li.active:nth-child(8n+6) {
        border-bottom: #28878F 3px solid;
    }

    .nav li:hover:nth-child(8n+7), .nav li.active:nth-child(8n+7) {
        border-bottom: #28878F 3px solid;
    }

    .nav li:hover:nth-child(8n+8), .nav li.active:nth-child(8n+8) {
        border-bottom: #28878F 3px solid;
    }

    .navbar-toggle .icon-bar {
        color: #fff;
        background: #fff;
    }

    .logo {
        margin: 5% 0;
    }

    .logo-login {
        margin: auto;
        text-align: center;
    }

    .logo-login img {
        width: 10%;
        margin: 3% 0;
    }

    .logo-bar {
        width: 35px;
        height: 35px;
        margin-right: 15px;
        margin-left: 15px;
    }

    .restaurant-name {
        font-size: 1.25em;
        line-height: 1.6em;
        margin-right: 15px;
        margin-top: 5%;
        font-family: 'Roboto', sans-serif;
    }

    .footer {
        background: #ffffff;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 1% 3%;
    }

    .footer_upgrade {
        position: absolute;
        bottom: 65px !important;
    }

    .credits {
        text-align: center;
    }

    .btn-login > i {
        float: left;
    }

    .titles {
        font-family: 'Roboto', sans-serif;
    }

    #swal2-content {
        color: rgba(83, 78, 78, 0.68) !important;
        font-size: 14px;
    }

    .alert {
        padding: 15px;
        margin: 5px 1px 1px 4px !important;
        border: 1px solid transparent;
        border-radius: 4px;
        width: 98% !important;
        z-index: 1500;
    }

    .upgrade {
        width: 100%;
        background: #0099AE;
        color: #ffffff;
        padding: 5px;
        font-size: 14px;
        height: 55px;
        z-index: 10000 !important;
    }

    .upgrade span {
        float: left;
        font-weight: 100;
        padding: 0 10px;
        line-height: 23px;
    }

    .upgrade button {
        background: #4faeab !important;
        color: #ffffff !important;
        border: 1px solid #ffffff !important;
        border-radius: 5px !important;
        text-align: center;
        float: right;
        font-size: 12.5px !important;
        padding: 3px !important;
    }

    .badge-updater {
        background: #4faeab !important;
        color: #ffffff !important;
        border: 1px solid #ffffff !important;
        text-align: center;
        font-size: 11px;
    }

    .badge {
        padding: 3px !important;
    }

    .close {
        opacity: 1 !important;
        line-height: 15px !important;
    }

    .logout {
        font-size: 14px;
        line-height: 35px;
    }

    .navbar {
        min-height: 45px !important;
    }

    button.close {
        position: absolute !important;
        bottom: 5px !important;
    }

    #loader-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1000;
        background: rgba(0, 0, 0, 0.80);
    }

    #loader {
        display: block;
        position: relative;
        left: 50%;
        top: 50%;
        width: 150px;
        height: 150px;
        margin: -75px 0 0 -75px;
        border-radius: 50%;
        border: 4px solid transparent;
        border-top-color: #3b8c93;

        -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
        animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    #loader:before {
        content: "";
        position: absolute;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        border-radius: 50%;
        border: 4px solid transparent;
        border-top-color: #e6af14;

        -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
        animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    #loader:after {
        content: "";
        position: absolute;
        top: 15px;
        left: 15px;
        right: 15px;
        bottom: 15px;
        border-radius: 50%;
        border: 4px solid transparent;
        border-top-color: #ffffff;

        -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
        animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    #loading {
        position: relative;
        margin: auto;
        text-align: -webkit-center;
        font-size: 20px;
        font-weight: 300;
        top: 22em;
        z-index: 1000;
        color: #ffffff;
    }

    .swal2-popup .swal2-content {
        color: #545454 !important;
        margin: 25px;
    }

    .swal2-popup .swal2-title {
        color: #595959 !important;
        font-size: 20px !important;
    }

    @-webkit-keyframes spin {
        0% {
            -webkit-transform: rotate(0deg); /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg); /* IE 9 */
            transform: rotate(0deg); /* Firefox 16+, IE 10+, Opera */
        }
        100% {
            -webkit-transform: rotate(360deg); /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg); /* IE 9 */
            transform: rotate(360deg); /* Firefox 16+, IE 10+, Opera */
        }
    }

    @keyframes spin {
        0% {
            -webkit-transform: rotate(0deg); /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg); /* IE 9 */
            transform: rotate(0deg); /* Firefox 16+, IE 10+, Opera */
        }
        100% {
            -webkit-transform: rotate(360deg); /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg); /* IE 9 */
            transform: rotate(360deg); /* Firefox 16+, IE 10+, Opera */
        }
    }

    .col-sm-4, .col-xs-4, .col-xs-8 {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }

    .col-xs-12 {
    	padding-left: 8px !important;
    }

    .tab-pane {
        overflow-y: visible;
        overflow-x: hidden;
        height: 380px;
        text-align: left;
    }

    .tab-pane::-webkit-scrollbar {
        width: 5px !important;
        height: 10px !important;
        border-radius: 10px !important;
    }


    /**  STYLE 4 */
    .tab-pane::-webkit-scrollbar-track {
        border-radius: 10px !important;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.03);
        background-color: #F5F5F5;
    }

    .tab-pane::-webkit-scrollbar-thumb {
        background-color: rgba(87, 87, 87, 0.41);
        border: 1px solid rgba(85, 85, 85, 0.06);
    }

    .about-content {
        margin-top: 18px;
        font-size: 12.5px;
        text-align: justify;
    }

    .container-about {
        margin-top: 20px;
    }


    .printers {
        position: absolute;
        background: white;
        padding: 15px;
        margin-bottom:  15px;
        border-bottom: 1px solid rgba(143, 143, 143, 0.5);
        height: 200px;
    }

    .title i {
        float: right;
        float: right;
        font-size: 1.5rem;
        line-height: 3.1rem;
        margin-left: 0.2rem;
    }

    .dates-printer {
        float: left;
        font-size: 12px;
        padding: 15px;
        line-height: 18px;
    }

    .btn-test-printer {
        margin-right: 15px !important;
    }

    .title-dates-printer {
        font-size: 13px;
        font-weight: bold;
        margin-right: 2px;
    }

    .printer-active {
        color: #5cb85c;
    }

    .printer-inactive {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    .btn-actions {
        font-size: 12.5px !important;
    }

    .btn-connection, .btn-info {
        background: #00a7d0 !important;
    }

    .btn-printer {
        background: #00a65a !important;
    }

    #swal2-content {
        padding: 2px;
    }

    .tab-content {
        margin-left: 10px;
        width: 100%;
    }

    .products {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .accounts-filters {
        margin-bottom: 15px;
    }

    .all_accounts {
        margin-right: 1px !important;

    }

    .tab-content .panel-body {
        padding: 10px 1px !important;
    }

    .btn-details,
    .btn-reports{
        background-color: rgb(54, 179, 191) !important;
        font-size: 16px;
        border-radius: 0 !important;
    }

    .btn-details:hover,
    .btn-reports:hover {
        color: rgba(255, 255, 255, 1) !important;
        background-color: rgba(54, 179, 191, 0.8) !important;
    }

    .lock-purchased {
        position: absolute;
        bottom: 80px;
        right: 0;
    }

    .purchase {
        margin-right: 5px;
    }

    .purchase p {
        line-height: 1.70em;
    }

    .contact_us {
        margin-top: 22px;
        line-height: 2.1em;
    }

    .contact_us a {
        font-size: 1.4em;
        cursor: pointer;
    }

    .is-disable {
        color: rgba(85, 85, 85, 0.43);
    }

    .is-delivered {
        font-weight: 600;
    }


    [v-cloak] {
        display:none;
    }

    .toggle-petitions i {
        font-size: 1.2em;
        color: #777;
        margin-right: 10px;
    }

    .petitionsis-delivered {
        background: rgba(228, 229, 231, 0.78);
    }


    [data-toggle="collapse"] .fa:before {
        content: "\f0d8"; /* up */
    }

    [data-toggle="collapse"].collapsed .fa:before {
        content: "\f0d7"; /* down */
    }

    @media only screen and (min-width:700px) {
        .menu {
            width: 105% !important;
        }

        .content {
            width: 100% !important;
            min-height: 0;
            top: 35px;
            left: 0;
            position: fixed;
        }

        .container {
            margin-right: auto;
            margin-left: auto;
            width: 100% !important;
        }

    }


